# 02 - Sales Aggregation
Inspect processed sales tables and prepare extra aggregates that power feature engineering and reporting.

In [11]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("..").resolve()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.append(str(PROJECT_ROOT))

In [12]:
from pathlib import Path

import pandas as pd

from src.utils import load_dataframe
from src.data_prep import load_raw_transactions, clean_transactions, aggregate_sales

In [13]:
daily_path = Path("../data/processed/sales_daily.csv")
monthly_path = Path("../data/processed/sales_monthly.csv")

daily_df = load_dataframe(daily_path)
monthly_df = load_dataframe(monthly_path)

print(f"Daily rows: {len(daily_df)} | Monthly rows: {len(monthly_df)}")
daily_df.head()

Daily rows: 739 | Monthly rows: 25

           ds         y
0  2009-12-01  54513.50
1  2009-12-02  63352.51
2  2009-12-03  74037.91
3  2009-12-04  40732.92
4  2009-12-05   9803.05

In [14]:
raw_df = load_raw_transactions()
clean_df = clean_transactions(raw_df)
weekly_df = aggregate_sales(clean_df, freq="W")

weekly_df.tail()

            ds          y
101 2011-11-13  370044.97
102 2011-11-20  388622.44
103 2011-11-27  316412.16
104 2011-12-04  324370.83
105 2011-12-11  504327.93

In [15]:
monthly_summary = monthly_df.describe()
monthly_summary

                  y
count  2.500000e+01
mean   8.389187e+05
std    2.756693e+05
min    5.236319e+05
25%    6.598589e+05
50%    7.522701e+05
75%    9.243330e+05
max    1.509496e+06